.burger-slider {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 50px;
  transition: all .5s;

  .burger-slider-inner {
    margin: 0;
    width: 100%;
    appearance: none;
    height: 8px;
    outline: 0;
    background: #eee;
    border-radius: 20px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #409eff;
      transition: all .2s;

      &:hover {
        cursor: grab;
        transform: scale(1.2);
      }

      &:active {
        cursor: grabbing;
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #409eff;
      transition: all .2s;

      &:hover {
        cursor: grab;
        transform: scale(1.2);
      }

      &:active {
        cursor: grabbing;
      }
    }

    &:disabled {
      cursor: default;

      &::-webkit-slider-thumb {
        border-color: #ccc;

        &:hover {
          cursor: not-allowed;
          transform: scale(1);
        }
      }

      &::-moz-range-thumb {
        border-color: #ccc;

        &:hover {
          cursor: not-allowed;
          transform: scale(1);
        }
      }
    }
  }

  &-range {
    position: absolute;
    font-size: 13px;
    top: 34px;

    &.min {
      left: 0
    }

    &.max {
      right: 0
    }
  }

  &-value {
    position: absolute;
    font-size: 13px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}