.k-input {
  width: 100%;
  height: 28px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;

  &-small {
    height: 24px;

    .k-input-inner {
      font-size: 14px;
    }
  }

  &-medium {
    height: 32px;

    .k-input-inner {
      font-size: 18px;
    }
  }

  &-large {
    height: 36px;

    .k-input-inner {
      font-size: 20px;
    }
  }

  &:hover {
    border-color: #409eff;
  }

  &:active,
  &:focus {
    border-color: #409eff;
    box-shadow: 0 0 2px #409eff;
  }

  &-inner {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 4px;
    border-radius: 3px;
    outline: none;
    font-size: 16px;

    &:read-only {
      cursor: pointer;
    }

    &.disabled {
      user-select: none;
      cursor: not-allowed;
      background-color: #ddd;
      opacity: .5;

      &:hover,
      &:active,
      &:focus {
        border-color: #dcdfe6;
        box-shadow: none;
      }
    }
  }

  &-suffix {
    position: absolute;
    cursor: pointer;
    height: 100%;
    right: 4px;
    display: flex;
    align-items: center;
    pointer-events: none;

    .clear,
    .view {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.2s;
      user-select: none;
      pointer-events: all;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: #ddd;
    opacity: .5;

    &:hover,
    &:active,
    &:focus {
      border-color: #dcdfe6;
      box-shadow: none;
    }

    .clear,
    .view {
      cursor: not-allowed;
    }
  }
}

.one-icon {
  .k-input-inner {
    padding-right: 24px;
  }
}

.two-icon {
  .k-input-inner {
    padding-right: 40px;
  }
}

.shadow {
  border-color: #409eff;
  box-shadow: 0 0 2px #409eff;
}

.k-textarea {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  outline: none;

  &.disabled {
    cursor: not-allowed;
  }
}