.mask {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.burger-dialog {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  overflow: auto;
  animation: dialog .3s;

  &-body {
    padding: 20px;
  }

  &-header {
    padding: 20px 20px 10px;

    .title {
      line-height: 24px;
      font-size: 18px;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      display: inline-block;
      font-size: 30px;
      line-height: 24px;
      font-weight: lighter;
      user-select: none;
    }
  }

  &-footer {
    text-align: right;
    padding: 10px 20px 20px;
  }
}

@media screen and(max-width:768px) {
  .burger-dialog {
    max-width: 90%;
  }
}


@keyframes dialog {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}