.border {
  table {
    th {
      border-top: 1px solid #ccc;
    }

    th,
    td {
      border-right: 1px solid #ccc;

      &:first-child {
        border-left: 1px solid #ccc;
      }
    }
  }
}

.stripe {
  table {
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }
}

.fix-header {
  table {
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      box-shadow: 0 1px 2px #ddd;
    }
  }
}

.k-table {
  overflow: auto;
  box-sizing: border-box;

  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    color: #303133;
    font-size: 14px;

    th,
    td {
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      text-align: center;
      background-color: #fff;

      .text {
        padding: 8px 12px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        line-height: 20px;
      }
    }

    tbody {
      tr {
        &:hover {
          td {
            transition: background-color .2s;
            background-color: #f0f0f0;
          }
        }
      }
    }
  }

  .no-data {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 32px;
    background-color: #f0f0f0;
  }
}

:deep(.k-checkbox-text) {
  padding: 0;
}