.mask {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.k-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &-text {
    font-size: 16px;
    margin-left: 5px;
  }

  img {
    user-select: none;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}