@import "../assets/less/constant.less";

.burger-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: @--burger-border-radius;
  user-select: none;
  -webkit-user-select: none;

  &:hover,
  &:focus {
    color: @--burger-primary-color;
    background-color: #ecf5ff;
    border-color: #c6e2ff;
  }

  &:active {
    color: darken(@--burger-primary-color, @basic-ratio);
    border-color: darken(@--burger-primary-color, @basic-ratio);
    outline: none;
  }

  &-large {
    padding: 12px 20px;
    font-size: 14px;
  }

  &-medium {
    font-size: 14px;
    padding: 10px 20px;
  }

  &-small {
    font-size: 12px;
    padding: 7px 15px;
  }

  &-round {
    border-radius: 20px;
  }

  &-circle {
    border-radius: 50%;
    padding: 12px;
  }

  &.disabled {
    color: #c0c4cc;
    background-color: #fff;
    border-color: #ebeef5;
    cursor: not-allowed;
  }

  each(@type, {
      &-@{key} {
        color: #fff;
        background-color: @value;
        border-color: @value;

        &:hover,
        &:focus {
          color: #fff;
          background-color: lighten(@value, @basic-ratio);
          border-color: lighten(@value, @basic-ratio);
        }

        &:active {
          color: #fff;
          background-color: darken(@value, @basic-ratio);
          border-color: darken(@value, @basic-ratio);
        }

        &.disabled {
          color: #fff;
          background-color: fade(@value, @fade-ratio);
          border-color: fade(@value, @fade-ratio);
        }
      }
    }

  );
}
